* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.714em;
    font-size: 14px;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  @media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  
    .section {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  /* ===================header================== */

.header {
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu {
    display: flex;
    justify-content: space-between;
  }
  .st{
    display: none;
  }
  @media screen and (min-width: 768px) {
    .header {
      display: flex;
      height: 80px;
      align-items: center;
      padding: 0;
    }
  
    @media screen and (min-width: 1200px) {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site {
    display: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

@media screen and (min-width: 768px) {

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 32px;
    }
  
    .menu-nav {
      display: flex;
      margin-left: 93px;
      align-items: center;
    }
  
    .menu-nav .item:hover {
     color: #2196f3; 
    }
  
  
    .header-contact .item:hover {
      color: #2196f3;
    }
  
    .menu_nav-item {
      position: relative;
      margin-right: 57px;
    }
  
    .menu_nav-item {
      color: #212121;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  
    .header-contact {
      display: flex;
      flex-direction: column;
    }
  
    .header-icon {
      fill: #757575;
      margin-right: 10px;
    }
  
    .link {
      color: #757575;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  
    .link:hover {
      color: #2196F3;
    }
  
    .link:hover .header_icon {
      fill: #188CE8;
    }
  
  }
  
  @media screen and (min-width: 1199px) {
    .header-contact {
      min-width: 340px;
      flex-direction: row;
      justify-content: end;
      align-items: center;
    }
  
    .header-contact li:nth-child(2) {
      margin-left: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header-contact-item:not(:last-child) {
      margin-bottom: 13px;
    }
  }
.menu-site-contact {
    display: none;
}

.menu-site-contact:not(last-child) {
    margin-right: 50px;
}

.item:not(last-child) {
    margin-right: 55px;
}

.item{
    width: 122px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.re {
    width: 122px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgb(30, 173, 255);
}

.re1 {
    color: rgb(0, 0, 0);
}

.re2 {
    color: rgb(0, 0, 0);
}

.re3 {
    color: rgb(102, 219, 255);
}

.re4 {
    display: flex;
    align-items: center;
    color: rgba(122, 121, 121, 0.837);
}

/*==================== герой =============== */


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: darkslategrey;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }

.hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  

.hero-but {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .hero-but:hover {
    background-color: #188CE8;
  }

  @media screen and (min-width:768px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/tablet/hero-tablet.jpg);
    }
  }
  @media screen and (min-width:1200px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/dektop/Img.jpg);
    }
  }
  
 /* ============feature=============  */

 .feature{
    text-align: center;
 }
 .wrap-icon {
    background-color: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 30px;
  }
  .feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .feature_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
.feature-item {
    width: 270px;
   
}
@media screen and (min-width:768px) {
    .feature-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      margin: -7.5px;
    }
    .feture-item { 
      margin: 15px;
    }
    .feature-title {
      text-align: start;
    }
  }
  @media screen and (min-width:1200px) {
    .feture_item {
    
    }
  }

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

/* ================what we do==================== */

.section-do {
     display: none; 
  }

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    
}

@media screen and (min-width:1200px) {
    .section-do {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
      display: flex;
      margin-bottom: 50px;
    }
    .work-list {
      display: flex;
    }
    .work-item {
      margin: 15px;
    }  }

/* ===================== our team ================== */
.our-team {
    background-color: #F5F4FA;
    margin-top: 100px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
   text-align: center;
    padding-bottom: 10px;
}

.team-list {
    margin-bottom: 30px;

}

.item-cart {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.item-cart img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.item-cart:last-child {
    margin-right: 0;
}

.team_title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
  }

  .team_text {
    text-align: center;
    color: #757575
  }
  
.social-links {
    padding: 20px;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    width: 25px;
    height: 25px;
}

@media screen and (min-width:768px) {
    .team-list {
      display: flex;
      flex-wrap: wrap;
    }
  
    .item-cart {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  
  }
  @media screen and (min-width:1200px) {
    .item-cart {
      width: calc((100% - 8 * 15px) / 4);
    }
  }

/* ==============clients=============== */
.clients-h2{
font-weight: 700;
font-size: 28px;
line-height: 33px;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 30px;
}

.clients-list{
     display: flex;
   flex-direction: column;
   justify-content: center;

}
.clients-item{
    align-items: center;
    padding: 20px 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border: 1PX solid #AFB1B8;
    border-radius: 4px;
    width: 155px ;
    height:90px;
    margin-bottom: 30px;
}

.clients-item:hover .clients-icon {
    fill: #2196F3;
  }
  
  .clients-item:hover {
    border: 1px solid #2196f3;
    cursor: pointer;
  }
  
  .clients-icon {
    fill: #AFB1B8;
  }
  
  @media screen and (min-width:768px) {
  
    .clients-item {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }
  
  @media screen and (min-width:1200px) {
    .clients-item {
      width: calc((100% - 12 * 15px) / 6);
    }
  
  }

/* ==================footer=================== */

.footer {
    background-color: #2F303A;
    font-size: 14px;
    line-height: 1.7;
  }
.web {
    width: 100%;
    height: 252px;
    padding: 30px;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
.web2 {
    color: rgb(30, 173, 255); ;
}
.web3 {
    color: white;
}
@media screen and (min-width:768px) and (max-width:1200px) {
    .web2,
    .footer-logo {
      color: #000000;
    }
  }
  .footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
.cit {
    color: aliceblue;
}
.rex {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  