* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.714em;
    font-size: 14px;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  @media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  
    .section {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  /* ===================header================== */

.header {
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu {
    display: flex;
    justify-content: space-between;
  
  }
  .st{
    display: none
 }

  @media screen and (min-width: 768px) {
    .header {
      display: flex;
      height: 80px;
      align-items: center;
      padding: 0;
    }
  
    @media screen and (min-width: 1200px) {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site {
    display: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

@media screen and (min-width: 768px) {
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 32px;
    }
  
    .icon-menu{
      display: none;
    }
    .menu-site {
      display: flex;
      margin-left: 5px;
      align-items: center;
    }
  
    .menu-nav .item:hover {
     color: #2196f3; 
    }

    .header-contact .item:hover {
      color: #2196f3;
    }

    .menu_nav-item {
      position: relative;
      margin-right: 57px;
    }

    .header-contact {
      display: flex;
      flex-direction: column;
    }
  
    .header-icon {
      fill: #757575;
      margin-right: 5px;
    }
    .link {
      color: #757575;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  
    .link:hover {
      color: #2196F3;
    }
  
    .link:hover .header_icon {
      fill: #188CE8;
    }
  }
  .header-contact{
   
   }
   @media screen and (min-width: 768px) {
    .header-contact {
   display: flex;
      
    }   
  }
  @media screen and (min-width: 1199px) {
    .header-contact {
      /* min-width: 340px; */
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      
    }
  
    .header-contact:nth-child(2) {
      margin-left: 10px;
    }
  }

.menu-site-contact {
    /* display: none; */
    display: flex;
}
.menu-site-contact:not(:last-child) {
    margin-right: 10px;
}

.item{
    width: 129px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.item:not(last-child) {
  margin-right: 10px;
}

.item:hover{
    color: rgb(30, 173, 255);
}
.menu-re {
    width: 122px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    /* color: rgb(30, 173, 255); */
}

.menu-re1 {
    color: rgb(0, 0, 0);
}

.menu-re2 {
    color: rgb(0, 0, 0);
}

.link-re3 {
  display: flex;
  color: rgba(122, 121, 121, 0.837);
}

.link-re4 {
  display: flex;
    color: rgba(122, 121, 121, 0.837);
}
@media screen and (min-width:768px) {
  .link-re3.link-re4 {
      display: none;
    }
}

/*==================== герой =============== */


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: darkslategrey;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }

.hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  

.hero-but {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .hero-but:hover {
    background-color: #188CE8;
  }

  @media screen and (min-width:768px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/team.jpg);
    }
  }
  @media screen and (min-width:1200px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/team.jpg);
    }
  }
  
 /* ============feature=============  */

 .feature{
    text-align: center;
 }
 .feature-list {
  margin-bottom: 30px;
  /* border: 1px solid green; */

}

.feature-item {
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.feature-item .wrap_icon {
  background-color: #F5F4FA;
  padding: 10px 0;
  margin-bottom: 20px;
}

 .wrap-icon {
    background-color: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 30px;
  }
  .feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .feature_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
.feature-item {
    /* width: 270px; */
}
@media screen and (min-width:768px) {
  .feture-item {

  }
    .feature-list {
      display: flex;
      flex-wrap: wrap;
      margin: -7.5px;
    }
    .feture-item { 
      margin: 15px;
    }
    .feature-title {
     text-align: left;
    }
  }
  @media screen and (min-width:1200px) {
    .feture-item {
      text-align: center;
    }
    .feature-list {
      margin: -7.5px;
    }
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

/* ================what we do==================== */

.section-do {
     display: none; 
  }

 
/* .section-title{
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    
} */

@media screen and (min-width:1200px) {
    .section-do {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
      display: flex;
    }
    .what-we {
       display: flex;
  
    }
    .work-item {
      width: calc((100% - 6 * 15px) /3);
      margin: 15px;
    }  }

/* ===================== our team ================== */
.our-team {
    background-color: #F5F4FA;
    margin-top: 100px;
   text-align: center;
    padding-bottom: 10px;
}

.team-list {
    margin-bottom: 30px;
}

.item-cart {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.item-cart img,
.feature-item img 
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.item-cart:last-child,
.feature-item:last-child
{
    margin-right: 0;
}

.team_title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
  }

  .team_text {
    text-align: center;
    color: #757575
  }
  
@media screen and (min-width:768px) {
    .team-list,
    .feature-list
    {
      display: flex;
      flex-wrap: wrap;
    }
  
    .item-cart,
    .feature-item
    {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  
  }
  @media screen and (min-width:1200px) {
    .item-cart,
    .feature-item
    {
      width: calc((100% - 8 * 15px) / 4);
    }
  }

/* ==============clients=============== */
.clients-h2{
font-weight: 700;
font-size: 28px;
line-height: 33px;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 30px;
}

.clients-list{
     display: flex;
   /* justify-content: center; */
   flex-wrap: wrap;

}
.clients-item{
    align-items: center;
    padding: 20px 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border: 1PX solid #AFB1B8;
    border-radius: 4px;
    margin-bottom: 30px;
    width: calc((100% - 30px * 2) / 2);
}

.clients-item:hover .clients-icon {
    fill: #2196F3;
  }
  
  .clients-item:hover {
    border: 1px solid #2196f3;
    cursor: pointer;
  }
  
  .clients-icon {
    fill: #AFB1B8;
  }
  
  @media screen and (min-width:768px) {
  
    .clients-item {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }
  
  @media screen and (min-width:1200px) {
    .clients-item {
      width: calc((100% - 12 * 15px) / 6);
    }
  
  }

/* ==================footer=================== */

.footer {
    background-color: #2F303A;
    font-size: 14px;
    /* line-height: 1.7; */
  }
.web {
    width: 100%;
    height: 252px;
    padding: 30px;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
 
.web2 {
    color: rgb(30, 173, 255); ;
}
.web3 {
    color: white;
}
.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 4px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.cit {

  color: aliceblue;
  font-size: 14px;
}
.rex {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.clik{
text-align: center;
  font-size:23px ;
} 
.folow{
  text-align: center;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .web2,
    .footer-logo {
      color: #000000;
    }
   
  }
 